.country_details_main {
  height: calc(100vh - 7.4vh) !important;
  background-color: hsl(0, 0%, 98%);
  overflow: auto;
}

.country_details_container {
  max-width: 1444px;
  margin: 0 auto;
  padding: 0 5%;
}

.back_button {
  width: 150px;
  display: flex;
  margin: 3rem 0;
  align-items: center;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgb(213, 211, 211);
}

.back_button a {
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
}

.back_button_arrow {
  width: 1.5rem;
  height: 100%;
  margin: 1rem;
}

.country_details_flag {
  width: 100%;
  max-width: 500px;
}

.country_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.country_details_card {
  display: flex;
}

@media screen and (max-width: 444px) {
  .country_details_card {
    flex-direction: column;
  }
}

.country_details_card_body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.country_details_card_text {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 444px) {
  .country_details_card_text {
    justify-content: start;
    flex-direction: column;
  }
}

.country_details_card_text h2 {
  font-size: 2rem;
}


.country_details_card_text ul {
  list-style: none;
  padding: 0;
}

.country_details_card_text li {
  margin: 1rem 0;
}


@media screen and (max-width: 444px) {
  .borders_countries {
    flex-basis: 100%;
  }
}

.borders_countries{
  display: flex;
 align-items: baseline;

}

.border_countries_name {
  padding: 0.5em;
  box-shadow: 0px 0px 11px 2px rgb(213, 211, 211);
}

/* Dark Mode */
.country_details_card_body.dark_mode h2 {
  color: white;
}

.country_details_main.dark_mode {
  background: hsl(207, 26%, 17%);
}
